/*== Variables ==*/

:root {
  --primary-soft-blue: hsl(231, 69%, 60%);
  --primary-soft-red: hsl(0, 94%, 66%);
  --neutral-grayish-blue: hsl(229, 8%, 60%);
  --neutral-very-dark-blue: hsl(229, 31%, 21%);
  --white: #fff;
  /* font-size: calc(1vw + 1vh + .5vmin); */
}

/*== Global Resets ==*/

/* Universal box sizing > includes padding and
border, but NOT margin, in total box size */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
html, body, div,
ul, ol, li, p,
h1, h2, h3, h4, h5, h6,
figure, figcaption, blockquote {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul & ol elements */
ul, ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/*== Global Styles ==*/

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  width: 85%;
  margin: 2rem auto;
}

header, section, footer {
  margin: 2rem 0;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
}

nav svg {
  pointer-events: none;
}

#nav-logo {
  z-index: 2;
}

#nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

#menu-items {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#menu-items a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#menu-items a:hover, .overlay a:focus {
  color: #fff;
}

#nav-overlay #close-icon {
  position: absolute;
  right: 0;
  padding: 2rem 4rem;
}

/* Intro Header */

/* Features Section */

/* Download Section */

/* FAQs Section */

/* CTA Section */

/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/*== Media Queries ==*/
